<main>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-2"></div>
            <div class="col-lg-6 col-md-8 col-sm-8 info-box">
                <div class="icon">
                    <i class="fa-regular fa-user"></i>
                </div>
                <div class="user-detail-table">
                    <table class="table table-sm table-dark table-hover">
                        <tbody>
                            <tr>
                                <th scope="row">Name</th>
                                <td>{{ user.name }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Address</th>
                                <td>{{ user.address }}</td>
                            </tr>
                            <tr>
                                <th scope="row">Phone</th>
                                <td>{{ user.phone }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="back-button">
                    <button class='btn btn-outline-secondary' (click)='onBack()'>
                        <i class='fa fa-chevron-left'></i> Back
                    </button>
                </div>
            </div>
        </div>
    </div>
</main>
<app-navbar></app-navbar>