<div class="card my-5">
    <div class="card-body">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">IBAN</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let account of accounts" >                   
                    <td>{{ account.id }}</td>
                    <td><a [routerLink]="['/accounts', account.id]">{{ account.name }}</a></td>
                    <td>{{ account.iban }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>