<div class="transaction-table">
    <table class="table table-sm table-dark table-hover table-striped mr-2">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Transaction</th>
                <th scope="col">Amount (€)</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <th scope="row">{{ transaction.date }}</th>
                <td>{{ transaction.title }}</td>
                <td>{{ transaction.amount | number: '1.2-2'}}</td>
            </tr>
        </tbody>
    </table>
</div>